<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba</title>

    <!-- Internal libraries -->
    <script src="./src/libs/angular/angular.min.js"></script>
    <script src="./src/libs/angular/angular-sanitize.min.js"></script>
    <script src="./src/libs/i18n/i18next.js"></script>
    <script src="./src/libs/i18n/i18nextHTTPBackend.min.js"></script>
    <script src="./src/libs/i18n/ng-i18next.min.js"></script>

    <!-- Angular scripts -->
    <script src="./src/scripts/app.js"></script>
    <script src="./src/scripts/filters.js"></script>
    <script src="./src/scripts/controllers.js"></script>
  </head>

  <body ng-controller="AppCtrl">
    <!-- Button to change language -->
    <div>
      <button ng-click="switchLng()" class="floating-btn">
        {{ currentLng | uppercase }}
      </button>
    </div>

    <button ng-click="incrementar()">Aumentar contador</button>
    <button ng-click="decrementar()">Restar contador</button>
    <h1 id="contador">Contador: {{contador}}</h1>
    <button ng-click="clgCounter()">console.log del contador</button>
    <br /><br />

    <input type="text" ng-i18next="[placeholder]greeting" />
    <br /><br />

    <div>{{ "absent-from-to" | i18next:{fromDate: date1, toDate: date2} }}</div>

    <div>{{ "absent-for-day-periods" | i18next:{count: contador} }}</div>

    <div title="{{saludo}}">CLA</div>

    <div>{{ "greeting" | i18next:{name:"john"} }}</div>
    <div>{{ "enter-min-n-characters" | i18next:{count: contador} }}</div>

    <div>{{ "HOLAS" | lowercase }}</div>

    <!-- ORIGINAL -->
    <!-- <div>
      Estás ingresando por primera vez en la historia clínica de<strong style='text-transform:uppercase'> Gutierrez</strong><strong>, Juan</strong>. Puedes navegar los diferentes <a href='' ng-click='nav.openMenu($event)'>módulos</a> o comenzar a registrar su información de salud.
    </div> -->

    <!-- SOLUCIÓN 1 -->
    <!--  <div ng-i18next="[html]({ lastName: 'Gutierrez', firstName: 'Juan', ngClickFunc: 'nav.openMenu', ngClickFuncArg: '$event' })first-time-in-medical-record"></div> -->
    
    <!-- SOLUCIÓN 2 -->
    <div
      ng-i18next="[html]({ lastName: 'Gutierrez', firstName: 'Juan', angularShit: 'ng-click=nav.openMenu($event) ng-mouseover=nav.openMenu($event)' })angular-shit"
    ></div>

    <div>Eliminado: {{bool === false ? '-' : ("john" | i18next)}}</div>

    <div>{{ saludo | json }}</div>

    <div>{{ "structure" | i18next }}</div>
  </body>
</html>
